body {
  margin: 0;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  text-align: center
}

html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 12px 12px;
  background-color: white;
}

.article {
  padding: 2px 2px
}
